/***************************
General Style
 **************************/

body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: dimgrey;
    background: #D4DCCD;
    background-size: cover;
}

.container {
    background-color: #D4DCCD;
    border-radius: 3px;
}

/*** Alt. General Style ***/

.change_style {
    background: url(https://unsplash.it/5000/2500/?image=974);

}

body.change_style .btn_new_task {
    background-color: #53599A;
}

body.change_style .task-title {
    border-top-color: #53599A;
}

body.change_style .container {
    background-color: rgba(239,237,224, 0.9);

}



/***************************
Header Style
 **************************/

header h1 {
    font-size: 3rem;
    font-family: 'Rock Salt', cursive;
    margin: 0;
}

.tasks_left {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
    margin: auto;
}

#numberOfElements {
    font-size: 2rem;
}

/***************************
Button Change Style & New Note
 **************************/

.btn_change {
    color: white;
    background-color: grey;
    border: none;
    border-radius: 2px;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.btn_change:hover {
    background-color: dimgrey;
}

.btn_new_task {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    background-color: #4ec8af;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    border: none;
}

.btn_new_task:hover, .btn_new_task:focus {
    background-color: seagreen;
}

.btn_new_task {
    text-decoration: none;
    color: white;
}



/***************************
Sort Style
 **************************/

.sort {
    list-style-type: none;
    padding: 1rem;
}

.sort li {
    margin: 1rem 0;
}

.sort button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    background-color: darkgray;
    color: white;
    padding: 0.5rem 2rem;
    margin: 0;
    border: none;
}

.sort button:hover, .sort button:focus {
    color: darkgray;
    background-color: floralwhite;
}

button.finished_notes {
    background-color: #f19280;
    text-align: right;
}

button.finished_notes:hover, button.finished_notes:focus {
    background-color: crimson;
    color: white;
}



/***************************
Tasks Style
 **************************/
.uniqueID {
    display: none;
}

.index_hide {
    display: none;
}

.tasks {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
}

.task {
    background-color: #FFF;
    border: 0.5px solid lightgrey;
    margin: 0.5rem 0;
}

.task-title, .task-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-title {
    border-top-color: #4ec8af;
    border-top-style: solid;
    border-top-width: 1rem;
    text-align: left;
}

.task-title h3 {
    font-size: 1.5rem;
    font-weight: 200;
    width: 100%;
}

.deadline {
    padding: 0.5rem;
    width: 20%;
}


.task-text {
    font-weight: 300;
    text-align: left;
    padding: 0 1.5rem;
    width:75%;
}

.done {
    background-color: whitesmoke;
}

.done > .task-title {
    border-top-color: grey;
}

.edit , .remove {
    text-transform: uppercase;
    color: white;
    background-color: darkgray;
    border: none;
    height: 2rem;
    width: 100%;
    margin: 0.75rem;
}

.edit a {
    text-decoration: none;
    color: white;
}

.edit:hover {
    background-color: darkslategray;
}

.active {
    border: 2px solid #f19280;
}

.remove:hover {
    background-color: crimson;
}

#finished {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    margin: 1.5rem;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#finished:active, #finished:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#finished:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: darkslategray;
}

#finished:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 2px;
    color: #99a1a7;
}

.fa-bolt {
    color: darkorange;
    font-size: 3rem;
    padding: 1rem;
}


/*** Importance Bolts ***/

.importance-bolts:after {
    font-size: 2rem;
    font-family: FontAwesome;
    content: "\f0e7";
    padding: 0.25rem;
    text-shadow: 0px 0px 2px grey;
    cursor: pointer;
    transition: 0.3s;
    color: darkorange;
}

.importance-container {
    display: flex;
    flex-direction: row-reverse;
}

