/**************************************
MEDIA QUERIES
 **************************************/

@media (min-width: 789px) {
    /***************************
    General Style
     **************************/

    html .container {
        width: 75%;
        margin: 5rem auto;
    }

    /***************************
    Header Style
     **************************/

    .sort li {
        display: inline;
        margin: 0 0;
    }

    .sort {
        list-style-type: none;
        padding: 0;
    }



    /***************************
    Tasks Style
     **************************/



     main .task {
         margin: 1rem auto;
         width: 80%;
     }

     /***************************
    New Task Style
    **************************/

    main .new_task {
        width: 40%;
        padding: 2rem;
    }

}

@media (min-width: 1083px) {
    main .task {
        width: 75%;
    }

}

@media (min-width: 1890px) {
    main .task {
        width: 50%;
    }
}
