/**************************************
MEDIA QUERIES
 **************************************/

@media (min-width: 789px) {


    /***************************
    Header Style
     **************************/

    .sort li {
        display: inline;
        margin: 0 0;
    }

    .sort {
        list-style-type: none;
        padding: 0;
    }



    /***************************
    Tasks Style
     **************************/

     main .tasks {
         width: 60%;
     }

     main .task {
        width: 60%;
     }

     /***************************
    New Task Style
    **************************/

    main .new_task {
        width: 30%;
        padding: 2rem;
    }



}
