/***************************
New Note Style
 **************************/

main h3 {
    font-weight: 200;
}

.new_task {
    background-color: #FFF;
    border: 0.5px solid lightgrey;
    border-top-color: #4ec8af;
    border-top-width: 1rem;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    text-align: left;
}

label {
    text-align: left;
}

input, textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: dimgrey;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
}

input {
    height: 3rem;
}

input#deadline {
    width: 30%;
}

textarea {
    height: 12rem;
}

/*** Importance Rating ***/

.rating {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px auto;
}

.rating div {
    cursor: pointer;
    padding: 0 10px;
    color: #fff;
    transition: all 150ms;
    display: inline-block;
    transform: rotateX(45deg);
    transform-origin: center bottom;
}

#importance div.hover {
    opacity: 1;
    transform: rotateX(0deg);
    text-shadow: 0 0 30px #ffc;
}

.gold {
    height: 40px;
    width: 185px;
    white-space: nowrap;
    margin-bottom: 4px;
    background-color: #fff;
    padding: 1.5rem;
    cursor: pointer;
    line-height: 40px;
}

/*---- Star ----*/
.bolt::before {
    font-size: 3rem;
    font-family: FontAwesome;
    content: "\f0e7";
    text-shadow: 0px 0px 2px grey;
    cursor: pointer;
    transition: 0.3s;
}

/*---- Star animations ----*/
.gold .bolt:hover {
    color: darkorange;
    position: relative;
}

.gold .bolt:hover ~ .bolt {
    color: darkorange;
}

.gold .selected ~ .bolt,
.gold .selected {
    color: darkorange;
    transform: rotateX(0deg);
}



/*** Buttons ***/
.new_task button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0.5rem;
    padding: 0.45rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
}

.new_task button a {
    text-decoration: none;
    color: white;
}

.new_task button:hover {
    opacity: 0.5;
}

.cancel {
    background-color: #f19280;
}

.save, .update {
    background-color: #4ec8af;
}


